body {
    max-width: 1280px;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    background-color: #2b333b;
    color: antiquewhite;
    
}

header {
    line-height: 30px;
}

footer {
    line-height: 30px;
    font-size: 15px;
    padding: 20px;
    display: flex;
    padding: 20px 480px;
    justify-content: space-between;
    background-color:#313b46;
}

nav {
    font-size: 20px;
    padding: 20px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: antiquewhite;
  }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.menu_item {
    text-decoration:none;
}

#about {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 200px;
    background-color:#313b46;
    
}
.about_left {
    flex-grow: 1;
    align-self: center;
    text-shadow: 10px 10px 10px #2b333b;
}
.image_style {
    box-shadow: 10px 10px 10px #2b333b;
}

h1 {
    margin: 0;
    font-size: 50px;
}
h2, h3, p, pre {
    margin: 0;
}

.subscribe_text {
    font-size: 18px;
}

.section_flex {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 200px;
}

.header {
    align-self: center;
    width: 15ch;
    margin-right: 20px;
}

.content_right {
    width: 80%;
    align-self: center;
}

.colorized {
    background-color: #2d353d;
}

.svg_position_github {
    display: block;
    background: url(../images/github.svg); 
    background-size: cover;
    height: 1.7em;
    width: 1.7em;
    align-self: center;
}
.svg_position_rsschool {
    display: inline-block;
    background: url(../images/rs_school.svg); 
    background-size: cover;
    height: 1.7em;
    width: 4.7em;
    align-self: center;
}